body{
 margin: 0;
 border: 0;
 box-sizing: border-box;
 font-family: Georgia, 'Times New Roman', Times, serif;
}

.heading{
 text-align: center;
 font-size: 3rem;
}
h2{
 color: black;
 text-align: center;
}

.projects-container{
/* display: flex;
justify-content: center;
align-items: center;
flex-wrap: wrap; */
 display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr 1fr 1fr;
  overflow: hidden;
}

.project-item{
 margin: 1.5rem;
 display: grid;
}
.project-card{
 background-color: rgba(70, 131, 180, 0.78);
 padding: 1rem 0;
 border-radius: 10px;
}

.project-img{
 display: block;
 margin: 1.5rem auto;
 width: 90%;
 height: 250px;
 border: 3px solid skyblue;
 border-radius: 10px;
}

a{
 display: block;
 text-align: center;
 text-decoration: none;
 font-size: 1.1rem;
 font-weight: bold;
 padding: 3px;
 transition: 0.5s all linear;
 overflow: hidden;
}
a:hover{
 font-size: 1rem;
 background: slateblue;
}
.white-bg{
 background: rgba(245, 245, 245, 0.655);
 color: black;
 /* height: 30px; */
}
.black-bg{
 background: rgba(128, 128, 128, 0.693);
 color: white;
 /* height: 30px; */
}

/* media queries */
@media screen and (max-width:768px){
 .projects-container{
  grid-template-columns: repeat(1, 1fr);
 }
}

@media screen and (min-width:769px){
 .projects-container{
  grid-template-columns: repeat(2, 1fr);
 }
}
@media screen and (min-width:1024px){
 .projects-container{
  grid-template-columns: repeat(3, 1fr);
 }
}